.filters {
    display: flex;
    background-color: white;
    height: 70px;
    width: 100%;
    justify-content: right;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin-left: 20%;
}

.search-button {
    font-size: 18px;
    border: none;
    margin-right: 30px;
    align-self: center;
    height: 48px;
    justify-self: end;
    background-color: #FF5A5F;
    color: #FFFFFF;
    width: 20%;
    border-radius: 4px;
}

.search-button:hover {
    opacity: 0.9;
}